
<% if @restaurants.any? %>
	<ul>
		<% @restaurants.each do |restaurant| %>
			<li><%= restaurant.name %> 
				<a href="/restaurants/<%= restaurant.id %>/edit" >
					Edit <%= restaurant.name %>
				</a>
			</li>
		<% end%>
	</ul>
<% else %>
	No restaurants yet
<% end %>