
<% if @restaurants.any? %>
	<ul>
		<% @restaurants.each do |restaurant| %>
			<li><%= restaurant.name %> 
				<%= link_to "Edit", edit_restaurant_path(restaurant) %>
				<%= link_to "Delete", restaurant_path(restaurant), method: :delete %>
			</li>
		<% end%>
	</ul>
<% else %>
	No restaurants yet
<% end %>