// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#yelp-header {
	width: 100%;
	height: 40px;
	background-color: white;
	padding: 10px;
	display: flex;
}

#create-restaurant {
	align-content: flex-center;
}

#restaurant-list {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 500px;
	height: auto;
}

.restaurant-name {
	float: left;
	margin-top: -7px;
	margin-right: 15px;
	margin-bottom: 5px;
	font-size: 25px;
	font-family: "Aldrich";
}

.amend-button a {
	display: inline-block;
	margin-top: -7px;
	margin-left: 10px;
	font-size: 20px;
	text-decoration: none;
	opacity: 0.5;
	color: black;
}

.amend-button a:hover {
	opacity: 1;
	text-decoration: none;
}

#review-summary {
	position: relative;
	display: flex;
	clear:both;
	margin-top: 10px;
}

.average-rating {
	margin-top: 5px;
	position: relative;
	margin-left: 15px;
}

.review-count {
	margin-top: 5px;
	position: relative;
	font-size: 16px;
}

#restaurant-actions {
	position: relative;
	float:right;
	margin-top: -48px;
}

.restaurant-parent-container {
	margin-top: 10px;
	margin-bottom: 40px;
	border: 2px solid #FFF585;
	padding: 30px;
	background-color: white;
	border-radius: 10px;
}

#flash-notice {
	position: absolute;
	width: 100%;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#review_title {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

#review_thoughts {
	width: 100%;
	height: 80px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

#review-container {
	margin-top: 20px;
}

li {
	line-height: 1.5;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 2px solid #FFF585;
}

input[type=submit] {
	background-color: #000;
	color: white;
	border: none;
	cursor: pointer;
	float: right;
	border-radius: 4px;
	opacity: 0.5
}

input[type=submit]:hover {
	opacity: 1;
}
